:where(.directory) {
    width: 100%;
    height: 100%;
    padding: 2rem;
    
    ul {
        min-height: 100px;
        /* list-style:none; */
        display: grid;
        grid-template-rows: 1rem;
        gap: 1rem;
    }
    
    li {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    li > span {
        position: relative;
        bottom: 0.2rem;
    }

    .editing .edit,
    .editing .trash,
    .editing .title {
        display: none;
    }

    .folder {
        list-style-image: url('../images/folder.png');
    }

    .file {
        list-style-image: url('../images/file.png');
    }

    .root {
        list-style-image: url('../images/hand-gesture.png');
    }
}