.form {
    display: grid;
    align-content: end;
    justify-content: center;
    gap: 1rem;

    button {
        border: 1px solid transparent;
        border-radius: 1rem;
        padding: 0.5rem 1rem;
        cursor: pointer;

        &.primary {
            background-color: cadetblue;
            color: #fff;
        }
        &.regular {
            border-color: cadetblue;
        }

    }

    .error {
        font-size: 0.8rem;
        color: red;
        text-align: center;
    }
    
}