@layer reset,global,components,utilities;


@import url('./reset.css') layer(reset);
@import url('./global.css') layer(global);
@import url('./utilities.css') layer(utilities);
@import url('./card.css') layer(components.card);
@import url('./form.css') layer(components.form);
@import url('./input.css') layer(components.input);
@import url('./directory.css') layer(components.directory);


body {
    height: 100dvh;
}
main{
    height: 100%;
    display: grid;
    place-content: center;
}

header{
    height: 50px;
    border-bottom: 1px solid #ccc;
    background-color: beige;
    box-shadow: inset 0px -1px 3px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}