@layer reset,utilities;

@import url("reset.css") layer(reset);

body {
  height: 100dvh;
  display: flex;
  flex-flow: column wrap;
}
header{
    text-align: center;
}
main {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-columns: minmax(200px, 1fr);
  place-content: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
}

article {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 0.5rem;
  border: 1px dotted #ccc;
  border-radius: 0.5rem;
}

.new-message{
    border: none;
    border-radius:0.5rem;
    background-color: coral;
    display: block;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
}

.message-link{
  position: relative;
}
.message-link:before{
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  position: absolute;
  right: 0.4rem;
  bottom: 0;

}