<header>
    <h4>hello <%= locals.user.username %></h4>
    <button type="button" onclick="logout()">logout</button>
  </header>

  <script>
    function logout(){
        window.location.href = '/auth/logout'
    }
  </script>