<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clouding File Management - Panel</title>
    <link rel="stylesheet" type="text/css" href="/styles/panel.css" />
</head>
<body>
    <%- include('./header.ejs') %>
    <main>
        <section class="card">
            <div class="text-center">
                <p class="message <%= locals.success ? 'fail' : 'success' %>"><%= message %></p>
                <button class="action" type="button" onclick="window.history.back()">back</button>
            </div>
        </section>
    </main>
</body>
</html>