
<header>
    <a class="title" href="/"><span ><strong>Game Management System</strong></span></a>
    <ul class="menu">
        <li><a href="/games">Games</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/developers">Developers</a></li>
    </ul>
</header>
<body>
